In [1]:
from ml_dcs.config import config  # NOQA
import json
import pandas as pd

from ml_dcs.domain.mtsa import MTSAResult

RESULT_FILE_PATH_HC = "tmp/mtsa-results/calculation-time/20241227_064029_ArtGallery（N, 4 room）_000036_TraditionalController_compose.json"
RESULT_FILE_PATH_AT = "tmp/mtsa-results/calculation-time/20241227_052401_AT（5, 10）_000070_TraditionalController_compose.json"
RESULT_FILE_PATH_BW = "tmp/mtsa-results/calculation-time/20241227_054842_BW（5, 5）_000002_TraditionalController_compose.json"
RESULT_FILE_PATH_CM = "tmp/mtsa-results/calculation-time/20241227_055948_CM（3, 3）_000100_TraditionalController_compose.json"

calculation_time_1st = []
calculation_time_2nd = []
calculation_time_3rd = []
calculation_time_all = []

memory_usage_1st = []
memory_usage_2nd = []
memory_usage_3rd = []

states_m = []
states_g = []
states_c = []

transitions_m = []
transitions_g = []
transitions_c = []

PyTorch Device: cuda

In [2]:
with open(RESULT_FILE_PATH_HC, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)

calculation_time_1st.append(result.compile_step.duration_ms)
calculation_time_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
calculation_time_3rd.append(result.compose_step.solvingProblem.duration_ms)
calculation_time_all.append(result.significant_duration_ms)

memory_usage_1st.append(result.compile_step.max_memory_usage_kb)
memory_usage_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
memory_usage_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [3]:
with open(RESULT_FILE_PATH_AT, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)

calculation_time_1st.append(result.compile_step.duration_ms)
calculation_time_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
calculation_time_3rd.append(result.compose_step.solvingProblem.duration_ms)
calculation_time_all.append(result.significant_duration_ms)

memory_usage_1st.append(result.compile_step.max_memory_usage_kb)
memory_usage_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
memory_usage_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [4]:
with open(RESULT_FILE_PATH_BW, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)

calculation_time_1st.append(result.compile_step.duration_ms)
calculation_time_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
calculation_time_3rd.append(result.compose_step.solvingProblem.duration_ms)
calculation_time_all.append(result.significant_duration_ms)

memory_usage_1st.append(result.compile_step.max_memory_usage_kb)
memory_usage_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
memory_usage_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [5]:
with open(RESULT_FILE_PATH_CM, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)

calculation_time_1st.append(result.compile_step.duration_ms)
calculation_time_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
calculation_time_3rd.append(result.compose_step.solvingProblem.duration_ms)
calculation_time_all.append(result.significant_duration_ms)

memory_usage_1st.append(result.compile_step.max_memory_usage_kb)
memory_usage_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
memory_usage_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [6]:
pd.DataFrame(
    {
        "1st": [v / 1000 for v in calculation_time_1st],
        "2nd": [v / 1000 for v in calculation_time_2nd],
        "3rd": [v / 1000 for v in calculation_time_3rd],
        "all": [v / 1000 for v in calculation_time_all],
    }
)

      1st     2nd      3rd      all
0  27.191  30.683  306.869  364.743
1  48.145  22.446  143.012  213.603
2  12.812   9.111   43.873   65.796
3  74.606  31.960  233.705  340.271

In [7]:
pd.DataFrame(
    {
        "1st": [calculation_time_1st[i] / calculation_time_all[i] for i in range(4)],
        "2nd": [calculation_time_2nd[i] / calculation_time_all[i] for i in range(4)],
        "3rd": [calculation_time_3rd[i] / calculation_time_all[i] for i in range(4)],
        "all": [1 for _ in range(4)],
    }
)

        1st       2nd       3rd  all
0  0.074548  0.084122  0.841329    1
1  0.225395  0.105083  0.669522    1
2  0.194723  0.138473  0.666803    1
3  0.219255  0.093925  0.686820    1

In [8]:
pd.DataFrame(
    {
        "1st": [v / 1000 for v in memory_usage_1st],
        "2nd": [v / 1000 for v in memory_usage_2nd],
        "3rd": [v / 1000 for v in memory_usage_3rd],
    }
)

         1st       2nd       3rd
0   2735.615  8558.880  9902.556
1   5784.364  6681.724  8423.822
2   1901.731  2845.211  3711.348
3  10071.612  9224.426  9845.739

In [9]:
pd.DataFrame(
    {
        "1st": [
            memory_usage_1st[i]
            / max(memory_usage_1st[i], memory_usage_2nd[i], memory_usage_3rd[i])
            for i in range(4)
        ],
        "2nd": [
            memory_usage_2nd[i]
            / max(memory_usage_1st[i], memory_usage_2nd[i], memory_usage_3rd[i])
            for i in range(4)
        ],
        "3nd": [
            memory_usage_3rd[i]
            / max(memory_usage_1st[i], memory_usage_2nd[i], memory_usage_3rd[i])
            for i in range(4)
        ],
    }
)

        1st       2nd       3nd
0  0.276253  0.864310  1.000000
1  0.686667  0.793194  1.000000
2  0.512410  0.766625  1.000000
3  1.000000  0.915884  0.977573

In [10]:
pd.DataFrame({"m": states_m, "g": states_g, "c": states_c})

         m       g       c
0   277440  865669  865668
1   514098  488005  488004
2   161052  222105  222104
3  1362053  920039  134142

In [11]:
pd.DataFrame(
    {
        "m": [
            states_m[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)
        ],
        "g": [
            states_g[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)
        ],
        "c": [
            states_c[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)
        ],
    }
)

          m         g         c
0  0.320492  1.000000  0.999999
1  1.000000  0.949245  0.949243
2  0.725116  1.000000  0.999995
3  1.000000  0.675480  0.098485

In [12]:
pd.DataFrame({"m": transitions_m, "g": transitions_g, "c": transitions_c})

         m        g        c
0  1514240  4777468  2208453
1  3328456  3172444  2893334
2  1098078  1446156  1446154
3  5405337  3629937   461476

In [13]:
pd.DataFrame(
    {
        "m": [
            transitions_m[i] / max(transitions_m[i], transitions_g[i], transitions_c[i])
            for i in range(4)
        ],
        "g": [
            transitions_g[i] / max(transitions_m[i], transitions_g[i], transitions_c[i])
            for i in range(4)
        ],
        "c": [
            transitions_c[i] / max(transitions_m[i], transitions_g[i], transitions_c[i])
            for i in range(4)
        ],
    }
)

          m         g         c
0  0.316955  1.000000  0.462264
1  1.000000  0.953128  0.869272
2  0.759308  1.000000  0.999999
3  1.000000  0.671547  0.085374