In [1]:
from ml_dcs.config import config # NOQA
import json
import pandas as pd

from ml_dcs.domain.mtsa import MTSAResult

RESULT_FILE_PATH_HC = "tmp/mtsa-results/calculation-time/20241227_064029_ArtGallery（N, 4 room）_000036_TraditionalController_compose.json"
RESULT_FILE_PATH_AT = "tmp/mtsa-results/calculation-time/20241227_052401_AT（5, 10）_000070_TraditionalController_compose.json"
RESULT_FILE_PATH_BW = "tmp/mtsa-results/calculation-time/20241227_054842_BW（5, 5）_000002_TraditionalController_compose.json"
RESULT_FILE_PATH_CM = "tmp/mtsa-results/calculation-time/20241227_055948_CM（3, 3）_000100_TraditionalController_compose.json"

results_1st = []
results_2nd = []
results_3rd = []
results_all = []

states_m = []
states_g = []
states_c = []

transitions_m = []
transitions_g = []
transitions_c = []

PyTorch Device: cpu

In [2]:
with open(RESULT_FILE_PATH_HC, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.duration_ms)
results_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
results_3rd.append(result.compose_step.solvingProblem.duration_ms)
results_all.append(result.significant_duration_ms)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [3]:
with open(RESULT_FILE_PATH_AT, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.duration_ms)
results_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
results_3rd.append(result.compose_step.solvingProblem.duration_ms)
results_all.append(result.significant_duration_ms)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [4]:
with open(RESULT_FILE_PATH_BW, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.duration_ms)
results_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
results_3rd.append(result.compose_step.solvingProblem.duration_ms)
results_all.append(result.significant_duration_ms)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [5]:
with open(RESULT_FILE_PATH_CM, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.duration_ms)
results_2nd.append(result.compose_step.creatingGameSpace.duration_ms)
results_3rd.append(result.compose_step.solvingProblem.duration_ms)
results_all.append(result.significant_duration_ms)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [6]:
pd.DataFrame({
    "1st": results_1st,
    "2nd": results_2nd,
    "3rd": results_3rd,
    "all": results_all
})

       1st      2nd       3rd       all
0  27191.0  30683.0  306869.0  364743.0
1  48145.0  22446.0  143012.0  213603.0
2  12812.0   9111.0   43873.0   65796.0
3  74606.0  31960.0  233705.0  340271.0

In [7]:
pd.DataFrame({
    "1st": [results_1st[i] / results_all[i] for i in range(4)],
    "2nd": [results_2nd[i] / results_all[i] for i in range(4)],
    "3rd": [results_3rd[i] / results_all[i] for i in range(4)],
    "all": [1 for _ in range(4)]
})

        1st       2nd       3rd  all
0  0.074548  0.084122  0.841329    1
1  0.225395  0.105083  0.669522    1
2  0.194723  0.138473  0.666803    1
3  0.219255  0.093925  0.686820    1

In [8]:
pd.DataFrame({
    "m": states_m,
    "g": states_g,
    "c": states_c
})

         m       g       c
0   277440  865669  865668
1   514098  488005  488004
2   161052  222105  222104
3  1362053  920039  134142

In [9]:
pd.DataFrame({
    "m": [states_m[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)],
    "g":  [states_g[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)],
    "c":  [states_c[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)]
})

          m         g         c
0  0.320492  1.000000  0.999999
1  1.000000  0.949245  0.949243
2  0.725116  1.000000  0.999995
3  1.000000  0.675480  0.098485

In [10]:
pd.DataFrame({
    "m": transitions_m,
    "g": transitions_g,
    "c": transitions_c
})

         m        g        c
0  1514240  4777468  2208453
1  3328456  3172444  2893334
2  1098078  1446156  1446154
3  5405337  3629937   461476

In [11]:
pd.DataFrame({
    "m": [transitions_m[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)],
    "g":  [transitions_g[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)],
    "c":  [transitions_c[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)]
})

          m         g         c
0  0.316955  1.000000  0.462264
1  1.000000  0.953128  0.869272
2  0.759308  1.000000  0.999999
3  1.000000  0.671547  0.085374