In [1]:
from ml_dcs.config import config # NOQA
import json
import pandas as pd

from ml_dcs.domain.mtsa import MTSAResult

RESULT_FILE_PATH_HC = "tmp/mtsa-results/memory-usage/20241227_065634_ArtGallery（N, 4 room）_000192_TraditionalController_compose.json"
RESULT_FILE_PATH_AT = "tmp/mtsa-results/memory-usage/20241227_052401_AT（5, 10）_000070_TraditionalController_compose.json"
RESULT_FILE_PATH_BW = "tmp/mtsa-results/memory-usage/20241227_053735_BW（5, 5）_000001_TraditionalController_compose.json"
RESULT_FILE_PATH_CM = "tmp/mtsa-results/memory-usage/20241227_061529_CM（3, 3）_000110_TraditionalController_compose.json"

results_1st = []
results_2nd = []
results_3rd = []
results_all = []

states_m = []
states_g = []
states_c = []

transitions_m = []
transitions_g = []
transitions_c = []

PyTorch Device: cpu

In [2]:
with open(RESULT_FILE_PATH_HC, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.max_memory_usage_kb)
results_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
results_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)
results_all.append(result.significant_max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [3]:
with open(RESULT_FILE_PATH_AT, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.max_memory_usage_kb)
results_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
results_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)
results_all.append(result.significant_max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [4]:
with open(RESULT_FILE_PATH_BW, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.max_memory_usage_kb)
results_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
results_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)
results_all.append(result.significant_max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [5]:
with open(RESULT_FILE_PATH_CM, "r") as f:
    data = json.load(f)
result = MTSAResult(**data)
results_1st.append(result.compile_step.max_memory_usage_kb)
results_2nd.append(result.compose_step.creatingGameSpace.max_memory_usage_kb)
results_3rd.append(result.compose_step.solvingProblem.max_memory_usage_kb)
results_all.append(result.significant_max_memory_usage_kb)

states_m.append(result.compile_step.environments[0].number_of_states)
states_g.append(result.compose_step.creatingGameSpace.number_of_states)
states_c.append(result.compose_step.solvingProblem.number_of_states)

transitions_m.append(result.compile_step.environments[0].number_of_transitions)
transitions_g.append(result.compose_step.creatingGameSpace.number_of_transitions)
transitions_c.append(result.compose_step.solvingProblem.number_of_transitions)

In [6]:
pd.DataFrame({
    "1st": [v/1000 for v in results_1st],
    "2nd": [v/1000 for v in results_2nd],
    "3rd": [v/1000 for v in results_3rd],
    "all": [v/1000 for v in results_all]
})

         1st       2nd       3rd        all
0   2748.500  7046.231  8278.461   8278.461
1   5784.364  6681.724  8423.822   8423.822
2   1902.653  2844.704  3713.151   3713.151
3  10105.315  9337.174  9975.170  10105.315

In [7]:
pd.DataFrame({
    "1st": [results_1st[i] / results_all[i] for i in range(4)],
    "2nd": [results_2nd[i] / results_all[i] for i in range(4)],
    "3rd": [results_3rd[i] / results_all[i] for i in range(4)],
    "all": [1 for _ in range(4)]
})

        1st       2nd       3rd  all
0  0.332006  0.851152  1.000000    1
1  0.686667  0.793194  1.000000    1
2  0.512409  0.766116  1.000000    1
3  1.000000  0.923986  0.987121    1

In [8]:
pd.DataFrame({
    "m": states_m,
    "g": states_g,
    "c": states_c
})

         m       g       c
0   277440  711062  711061
1   514098  488005  488004
2   161052  222105  222104
3  1362053  936791  225184

In [9]:
pd.DataFrame({
    "m": [states_m[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)],
    "g":  [states_g[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)],
    "c":  [states_c[i] / max(states_m[i], states_g[i], states_c[i]) for i in range(4)]
})

          m         g         c
0  0.390177  1.000000  0.999999
1  1.000000  0.949245  0.949243
2  0.725116  1.000000  0.999995
3  1.000000  0.687779  0.165327

In [10]:
pd.DataFrame({
    "m": transitions_m,
    "g": transitions_g,
    "c": transitions_c
})

         m        g        c
0  1514240  3927387  2194772
1  3328456  3172444  2893334
2  1098078  1446156  1446155
3  5405337  3696915   714669

In [11]:
pd.DataFrame({
    "m": [transitions_m[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)],
    "g": [transitions_g[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)],
    "c": [transitions_c[i] / max(transitions_m[i], transitions_g[i], transitions_c[i]) for i in range(4)]
})

          m         g         c
0  0.385559  1.000000  0.558838
1  1.000000  0.953128  0.869272
2  0.759308  1.000000  0.999999
3  1.000000  0.683938  0.132215